<ion-header>
  <ion-toolbar>
    <ion-title>Details de l'article</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">Home</ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="primary"(click)="setOpen(true)">
        <i class="fi fi-rr-shopping-cart">
          voir panier
        </i>        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">



   <ion-grid fixed *ngIf="(activitePizza$ | async) as item">
  <ion-row>
    <ion-col size="12"  size-sm="12" size-md="12">
    <div class="imgbox">
  <img [src]="item.img" alt="" srcset="">
  </div>
</ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" size-sm="4" size-md="4">
    <div class="cardText">
      <ion-label>{{item.title}}</ion-label>

    </div>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12"  size-sm="12" size-md="12">
    <div class="decriptText">
    <p>
      {{item.description}}
    </p>
    </div>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col offset="6" offset-sm="6" offset-md="6">
      <div class="totalprice">
        <p>Prix </p>
        <p> {{item.price}}</p>
      </div>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12" >
        <div class="cardbtn">
          <ion-button  (click)="addPanier(item)"fill="outline" shape="round" color="warning">
            <ion-icon slot="start" name="basket"></ion-icon>
            add to card
          </ion-button>
      </div>
      </ion-col>
  
  </ion-row>
</ion-grid>
   

   <ion-modal [isOpen]="isModalOpen">
    <ng-template>
    

      <ion-grid fixed class="ion-padding">
        <ion-row *ngFor="let article of CartItem ; let i=index" color="transparent">
          <ion-col size="3">
            <div class="cardlogo">
            <ion-avatar slot="start">
              <img alt="Silhouette of mountains" [src]="article.item.img" />
            </ion-avatar>
          </div>
          </ion-col>
          <ion-col size="6">
            

          <ion-item>
            <div class="cartTextItem">
            <ion-label>
              <h1 color="light">{{article.item.title}}</h1>
              <p color="success">Qté : {{article.qty}}</p>
              
            </ion-label>
          </div>
          </ion-item>
          </ion-col>
          <ion-col size="3">
            <div class="btndeletecard" align="center">
            <ion-chip>
             
              <ion-button (click)="removeItem(article, i)">
                <ion-icon slot="icon-only" name="remove"></ion-icon>
              </ion-button>  
           
            </ion-chip>
            <p align="center">Total : {{article.amount}}</p>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </ion-modal>
</ion-content>
